.search-container {
    display: flex;
    justify-content: space-between;
}
 
.img1 {
    height: 30px;
    width: 30px;
}

.img2 {
    height: 50px;
    width: 100px;
    padding-top: 5px;
}

input {
    width: 200px;
    margin-top: 5px;
}

.search-left {
    display: flex;
    justify-content: space-evenly;
    width: 275px;
}

.search-right {
    display: flex;
    justify-content: space-evenly;
    width: 275px;
}

.search-right img {
    height: 30px;
    width: 30px;
}